
<div class="media">
  <div class="col-sm-3">
    <img class="mr-2 rounded" src="<%= gravatar_url(user, { size: 40 }) %>" alt="">
  </div>
  <div class="media-body">
    <div class="col-sm-9">
      <h2><%= user.user_name %></h2>
      <p>Follow 00<br> Followed 00</p>
    </div>
    <div class="col-sm-12">
      <p>joined on <%= user.created_at.to_date.strftime("%Y年%m月%d日") %></p>
      <p><%= user.user_profile %></p>
    </div>
      <div class="text-center">
        <% if current_user == @user %>
          <%= link_to 'Edit', edit_user_path, class: 'btn btn-outline-secondary btn-sm' %>
        <% else %>
          <%= render 'relationships/follow_button', user: @user %>
        <% end %>
      </div>
    </div>
</div>
